* {
    background-color: rgb(36, 36, 36);
    color: white;
    text-align: center;
}

h1 {
    color: rgb(247, 183, 45);
    font-size: 4rem;
}

ul li {
    list-style: none;
}

ol li {
    text-align: left;
}

img {
    max-width: 300px;
    height: auto;
}